@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
body{
    background-image: url("./img/vbg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}